
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="Mercado" method="post">
            <label>Datos Del producto</label><br /><br />
            <label>Asigne el Nombre del producto en cuestion: </label> <br />
            <input type="Text" required name="Nombre" /> <br />
            <label>Asigne el precio del producto</label> <br />
            <input type="number" required name="Precio" /><br />
            <label>Asigne la cantidad</label><br />
            <input type="number" required name="Cantidad" /> <br />
            <input type="submit" />


        </form> 
        

    </div>
</body>
</html>
