
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notas</title>
</head>
<body>
    <div>
        <h1>RESULTADOS</h1> <br />
        Codigo: @Model.Codigo <br />
        Nombre: @Model.Nombre <br />
        Materia: @Model.Nombre_Materia <br />
        Usted @Model.Msj
    </div>
</body>
</html>
